*{
	margin: 0;
	padding: 0;
}

.container {
	max-width: 100%;
	min-width: 320px;
}

.wrap{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	
}