.button a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	background-color: #07b569;
	display: inline-block;
	padding: 8px 31px;
}

.button a:hover {
	background-color: #019c58; 
}