.header	{
	background: url('../../img/bg.jpg') center no-repeat;
	background-size: cover;
	margin-bottom: 120px;
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(to left, rgba(0, 80, 131,0.39),rgba(34, 185, 119,0.39) );
	z-index: 1;
}

.header__wrap {
	position: relative;
	z-index:  2;
	height: 100vh;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}

.header__logo p{
	color: #fff;
	font-size: 24px
	line-height: 30px;
	font-weight: 700;
}

.header h1 {
	text-align: center;
	font-size: 54px;
	line-height: 60px;
	color: #fff;
	font-weight: 400;
	max-width: 970px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 0 15px;
	box-sizing: border-box;

	-moz-transform: translate(-50%, -50%); /* Для Firefox */
    -ms-transform: translate(-50%, -50%); /* Для IE */
    -webkit-transform: translate(-50%, -50%); /* Для Safari, Chrome, iOS */
    -o-transform: translate(-50%, -50%); /* Для Opera */
    transform: translate(-50%, -50%);
}

.header h1 span {
	font-weight: 700;
}

@media (max-width: 980px) {
	.header {
		margin-bottom: 50px;
	}
}


@media (max-width: 768px) {
	.header h1 {
		font-size: 34px;
		line-height: 40px;
	}
}

@media (max-height: 480px) {
	.header__wrap {
		height: auto;
	}

	.header h1 {
		position: static;
		top: auto;
		left: auto;
		transform: translate(0,0);
		padding-top: 24px;
		padding-bottom: 150px;
	}
}